/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SEQKIT_SPLIT_FASTA' {
        // Chunk size as the number of FASTA records per chunk
        ext.args = '-s 100 ' 
    }


    withName: 'KOFAMSCAN' {
        // Use detailed tsv output format
        ext.args = '--format detail-tsv '
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:MERGE_ASSOCIATION_METACYC' {
        ext.prefix = 'merge_with_metacyc'

        publishDir = [
            path: { "${params.outdir}/association" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:MERGE_ASSOCIATION_ECOCYC' {
        ext.prefix = 'merge_with_ecocyc'
        publishDir = [
            path: { "${params.outdir}/association" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:METACYC_BASED_ASSOCIATION:ASSOCIATE_PROTEIN_TO_REACTION' {
        ext.prefix = 'metacyc_based'
        publishDir = [
            path: { "${params.outdir}/association" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:ECOCYC_BASED_ASSOCIATION:ASSOCIATE_PROTEIN_TO_REACTION' {
        ext.prefix = 'ecocyc_based'

        publishDir = [
            path: { "${params.outdir}/association" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:NCBIFAM_BASED_ASSOCIATION' {
        ext.prefix = 'ncbifam_based'

        publishDir = [
            path: { "${params.outdir}/association" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:ECOCYC_BASED_ASSOCIATION:DIAMOND_ALIGN_REFERENCE:DIAMOND_BLASTP' {

        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/ecocyc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:ECOCYC_BASED_ASSOCIATION:DIAMOND_ALIGN_REFERENCE:DIAMOND_MAKEDB' {

        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/ecocyc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:METACYC_BASED_ASSOCIATION:DIAMOND_ALIGN_REFERENCE:DIAMOND_BLASTP' {

        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/metacyc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LABGEM_PAN2MET:PAN2MET:METACYC_BASED_ASSOCIATION:DIAMOND_ALIGN_REFERENCE:DIAMOND_MAKEDB' {

        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/metacyc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
