/** 
  Nextflow config file for reference file paths
*/

params {
    
    kofam_db = "/mnt/shared/bank/KOFAM/2025-10-22/"
    ncbifam_db = "/mnt/shared/bank/NCBIFam/18.0/"

    metacyc_proteins = 'tests/data/' + 'metacyc/metacyc_2025-10-20.faa'
    ecocyc_proteins = 'tests/data/' + 'metacyc/ecocyc_2025-10-20.faa'

    // TODO: make these adaptable.
    KEGG_MetaCyc_crossref = '/home/sortion/data/KEGG_MetaCyc_crossref/2025-10-24/'
    ecocyc_monomers_to_metacyc_reactions = params.KEGG_MetaCyc_crossref + 'ecocyc_monomers_to_metacyc_reactions.tsv'
    metacyc_monomers_to_reactions = params.KEGG_MetaCyc_crossref + 'metacyc_monomers_to_reactions.tsv'
    kegg_kos_to_metacyc_reactions = params.KEGG_MetaCyc_crossref + 'kegg_kos_to_metacyc_reactions.tsv'
    kegg_kos_to_ec_numbers = params.KEGG_MetaCyc_crossref + 'kegg_kos_to_ec_numbers.tsv'

}