/** 
  Nextflow config file for reference file paths

  TODO: if you run the tests on your machine, you will need to adapt the path to your situation, and make sure you have the required files.
  
*/

params {

    kofam = '/mnt/shared/bank/KOFAM/2025-10-22/'
    kofam_ko_list = params.kofam + 'ko_list'
    kofam_profiles = params.kofam + 'profiles'
    
    ncbifam = '/mnt/shared/bank/NCBIFam/18.0/'
    ncbifam_table = params.ncbifam + 'hmm_PGAP.tsv'
    ncbifam_db = params.ncbifam + 'pgap.hmm'

    metacyc_proteins = '/home/sortion/.local/share/pathway-tools/aic-export/pgdbs/biocyc/metacyc/29.5/data/protseq.fsa'
    ecocyc_proteins = '/home/sortion/.local/share/pathway-tools/aic-export/pgdbs/biocyc/ecocyc/29.5/data/protseq.fsa'

    KEGG_MetaCyc_crossref = '/home/sortion/data/KEGG_MetaCyc_crossref/2025-10-24/'
    ecocyc_monomers_to_metacyc_reactions = params.KEGG_MetaCyc_crossref + 'ecocyc_monomers_to_metacyc_reactions.tsv'
    metacyc_monomers_to_reactions = params.KEGG_MetaCyc_crossref + 'metacyc_monomers_to_reactions.tsv'
    kegg_kos_to_metacyc_reactions = params.KEGG_MetaCyc_crossref + 'kegg_kos_to_metacyc_reactions.tsv'
    kegg_kos_to_ec_numbers = params.KEGG_MetaCyc_crossref + 'kegg_kos_to_ec_numbers.tsv'

}
