/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run labgem/pan2met-wf -profile test_full,reference,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed

    pangenome = "/home/sortion/data/pangbank/s__Methanobrevibacter_sp900314635_id4133.h5" 

    // Methanobrevibacter NCBI Taxonomy taxon identifier
    taxid = 2172 // www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?command=show&mode=node&id=2172&lvl=

    // Parameters
    ecocyc_coverage_threshold = 80
    ecocyc_identity_threshold = 80
    metacyc_coverage_threshold = 50
    ecocyc_identity_threshold = 30

}
