/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run labgem/pan2met-wf -profile test_full,reference,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'A test profile from a TAIR10 proteome'
    config_profile_description = ''

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed

    proteome = '/home/sortion/data/TAIR/Araport11_pep_20250411.sample1000.fa' 

    annotations = 'ecocyc,metacyc,deepkoala,kofamscan'

    // Methanobrevibacter NCBI Taxonomy taxon identifier
    taxid = 3702 // https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?command=show&mode=node&id=3702&lvl=

    // Parameters
    ecocyc_coverage_threshold = 80
    ecocyc_identity_threshold = 80
    metacyc_coverage_threshold = 50
    metacyc_identity_threshold = 30

}
